<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.itwillbs.CommentMapper">

<select id="getComment" parameterType="com.itwillbs.domain.CommentVO" resultType="com.itwillbs.domain.CommentVO">
   SELECT * FROM comment WHERE item_idx = #{item_idx} ORDER BY comment_date DESC;
</select>

<select id="getCommentName" resultType="java.lang.String">
   SELECT member_nickname FROM member WHERE member_id = #{member_id}
</select>

<insert id="insertComment"  parameterType="com.itwillbs.domain.CommentVO">
   INSERT INTO comment values(null, #{item_idx}, #{member_id}, #{comment_content}, now())
</insert>

<select id="getInsertComment" parameterType="com.itwillbs.domain.CommentVO" resultType="com.itwillbs.domain.CommentVO">
   SELECT * FROM comment ORDER BY comment_date DESC LIMIT 0, 1 ;
</select>

<delete id="deleteComment">
   DELETE FROM comment WHERE comment_idx = #{comment_idx}
</delete>


    <insert id="insertCommentReport">
   INSERT INTO report values(null, #{member_id}, #{report_content}, null, #{comment_idx}, null, null, 0, now())
</insert>

</mapper>